<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">Demo 2</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page" style="margin-right: 10px;" >Home</a>
          <a [routerLink]="'/login'" class="nav-link active" aria-current="page" style="margin-right: 10px;" >Log in</a>
          <a [routerLink]="'/view'" class="nav-link active" aria-current="page" style="margin-right: 10px;" >View</a>
          <a [routerLink]="'/registration'" class="nav-link active" aria-current="page" style="margin-right: 10px;" >Registration</a>
          <a [routerLink]="'/machines'" class="nav-link active" aria-current="page" style="margin-right: 10px;" >Machines View</a>
          <a [routerLink]="'/machines/registration'" class="nav-link active" aria-current="page" style="margin-right: 10px;" >Machines Registration</a>
          <div class="d-flex">
            <a (click)="logOut()" class="nav-link active log-out-button" aria-current="page" style="margin-right: 10px;">Log Out</a>
          </div>
        </div>
        <div class="d-flex">
        </div>
      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
